p {
    font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size:20px;
    
    }

p.hi {
    
     font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size:30px;
        padding: 0px 0px 300px 0px;

    
}

a {
    
     font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size:70px;
    
    
}

div.hello {
    
        background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwig96S3vZHTAhWp5YMKHVIzAroQjRwIBw&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F495044184015771178%2F&psig=AFQjCNHETrjx6LHm4aKoCRBfs1_JMaLSvQ&ust=1491624318392679");

    
}

