p {
    font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size: font-size:700px;
    
    }

p.hi {
    
     font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size: font-size:50px;
        padding: 0px 0px 300px 0px;

    
}

a {
    
     font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size: font-size:500px;
    
    
}

